<div class="container">
    <h1>Editing Reader</h1>

  <%= render 'form', reader: @reader %>

  <%= link_to 'Show', @reader, class:"btn btn-sm btn-block btn-primary" %>
  <%= link_to 'Back', readers_path, class:"btn btn-sm btn-block btn-warning" %>
</div>
